<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile - <%= user.Username %></title>

    <!-- Bootstrap CSS -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous"
    />

    <!-- Custom CSS for additional styling -->
    <style>
        .profile-header {
            text-align: center;
            margin: 20px 0;
        }
        .profile-picture {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        .social-icons a {
            margin: 0 10px;
            font-size: 24px;
        }
        .recent-uploads img, .recent-uploads video {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    </style>

    <meta property="og:title" content="User Profile - <%= user.Username %>">
    <meta property="og:url" content="<%= link %>">
    <meta property="og:site_name" content="Media Uploader by x.com/stellerDev">
    <meta property="og:locale" content="en_US">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@x.com/stellerDev">
    <meta property="twitter:creator" content="@x.com/stellerDev">
    <meta property="twitter:title" content="User Profile - <%= user.Username %>">
    <meta property="twitter:description" content="<%= user.Bio %>">
    <meta property="twitter:image" content="/avatars/<%= user.ProfilePicture %>">
</head>
<body>
	<%- include('_partials/header') %>
    <div class="container mt-5">
        <!-- Profile Header -->
        <div class="profile-header">
            <img src="/avatars/<%= user.ProfilePicture %>" alt="Profile Picture" class="profile-picture">
            <h2><%= user.Username %></h2>
            <small class="text-muted">UserID: <%= user.Id %></small>
            <p><%= user.Bio %></p>
        </div>

        <!-- Recent Uploads -->
        <div class="recent-uploads mt-4">
            <h4>Recent Uploads</h4>
            <% if (recentUploads.length === 0) { %>
                <div class="alert alert-danger" role="alert">
                    No uploads found.
                </div>
             
            <% } %>
            <div class="row">
                <% recentUploads.forEach(upload => { %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <% if (upload.ContentType.includes("image")) { %>
                                <img 
                                    src="/view/<%= upload.Id %>?raw=true" 
                                    class="bd-placeholder-img card-img-top" 
                                    width="100%" 
                                    height="225"
                                    loading="lazy"
                                />
                            <% } else { %>
                                <video 
                                    src="/view/<%= upload.Id %>?raw=true" 
                                    class="bd-placeholder-img card-img-top card-video"
                                    width="100%" 
                                    height="225"
                                ></video>
                            <% } %>
                            <div class="card-body">
                                <p class="card-text"><%= upload.Caption %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/view/<%= upload.Id %>" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted"><%= new Date(upload.UploadedAt).toLocaleDateString() %> (<%= timeDifference(new Date(upload.UploadedAt)) %>)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <!-- All uploads -->

        <div class="all-uploads mt-4">
            <h4>All Uploads</h4>
            <% if (allUploads.length === 0) { %>
                <div class="alert alert-danger" role="alert">
                    No uploads found.
                </div>
            <% } %>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% allUploads.forEach(upload => { %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <% if (upload.ContentType.includes("image")) { %>
                                <img 
                                    src="/view/<%= upload.Id %>?raw=true" 
                                    class="bd-placeholder-img card-img-top" 
                                    width="100%" 
                                    height="225"
                                    loading="lazy"
                                />
                            <% } else { %>
                                <video 
                                    src="/view/<%= upload.Id %>?raw=true" 
                                    class="bd-placeholder-img card-img-top card-video"
                                    width="100%" 
                                    height="225"
                                ></video>
                            <% } %>
                            <div class="card-body">
                                <p class="card-text"><%= upload.Caption %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/view/<%= upload.Id %>" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted"><%= new Date(upload.UploadedAt).toLocaleDateString() %> (<%= timeDifference(new Date(upload.UploadedAt)) %>)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script 
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
        crossorigin="anonymous"
        defer
    ></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" 
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" 
        crossorigin="anonymous"
        defer
    ></script>

    <script>
        // Clean up the URL
        const url = window.location.href;
        const cleanUrl = url.split("?")[0];
        window.history.replaceState({}, document.title, cleanUrl);
      
        const cardVideos = document.querySelectorAll(".card-video");
      
        cardVideos.forEach(video => {
          let lastCurrentTime = 0;
          let isPlaying = false;
      
          video.addEventListener("mouseover", () => {
            if (isPlaying) return; // Avoid multiple hover events
      
            lastCurrentTime = video.currentTime;
            video.currentTime = 0; // Start from the beginning
            video.play();
            video.muted = true;
            isPlaying = true;
      
            // Stop previewing after 4 seconds
            setTimeout(() => {
              video.pause();
              video.currentTime = lastCurrentTime; // Resume where it was
              isPlaying = false;
            }, 4000);
          });
      
          // Ensure the video is stopped if the mouse leaves
          video.addEventListener("mouseout", () => {
            if (isPlaying) {
              video.pause();
              video.currentTime = lastCurrentTime;
              isPlaying = false;
            }
          });
        });
      </script>
</body>
</html>
